
.customBtn{
  border-radius: 6px;
  width: 80px;
  padding: 5px 20px;
  border: none;
}

.bg{
  background: #e74c3c;
  color: white;
}

.cs{
  font-size: 19px !important;
  font-weight: 500 !important;
}
.input-label{
  font-weight: normal;
}
